@import "tailwindcss";

@theme {
  --color-primary: #132E27;
  --color-secondary: #EBF1EE;
  --color-accent: #FF5A36;
  --color-light-accent: #FFF0ED;
  --color-neutral-dark: #1C2422;
  --color-neutral-light: #F4F7F6;
  --color-border-grid: #D1DED9;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}
